$bg-color: #EEEEEE;
$blue: #2BC1E6;
$pink: #FF2A64;
$yellow: #F5D800;
$green: #03F443;
$font-color: rgb(41, 40, 47);

*, *:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: $bg-color;
    position: relative;
    color: $font-color;
    margin:0;

}
html {
    margin: 0;
}
html, body {
    margin:0;
}
.font-pink {
    color:$pink;
}
.bg-pink {
    background-color: $pink;
}
.font-blue {
    color:$blue;
}
.bg-blue {
    background-color: $blue;
}
.font-green {
    color:$green;
}
.bg-green {
    background-color: $green;
}
.font-yellow {
    color:$yellow;
}
.bg-yellow {
    background-color: $yellow;
}

ul {
    margin:{
        left: 1em;
        bottom: .5em;
    }
}

@mixin btn($color) {
    border-radius: 8px;
    text-decoration: none;
    color: rgba(0,0,0,.8);
    text-transform: uppercase;
    display: relative;
    transition: all .1s ease-in-out;
    position: relative;
    &:active {
        box-shadow: none;
        transform: translateY(4px);
        box-shadow: 0 1px 0 darken($color, 15%);
        }
    }
@mixin small($color) {
    padding:5px 10px;
    background-color: white;
    box-shadow: 0 5px 0 $color;
    border: 1px solid $color;
    margin: 10px 0;
    letter-spacing: .05em;
    display: inline-block;
    font-size: .75em;
    }
@mixin large($color) {
    padding: 10px 20px;
    background-color: $color;
    box-shadow: 0 5px 0 darken($color, 15%);
    text-shadow: 0 -2px 1px lighten($color, 20%);
    border-bottom: 2px solid darken($color, 7%);
    letter-spacing: .08em;
    font-weight: 700;
    }

.blue-btn {
    @include btn($blue);
    @include large($blue);
}
.blue-btn-sm {
    @include btn($blue);
    @include small($blue);
}
.pink-btn {
    @include btn($pink);
    @include large($pink);
}
.pink-btn-sm {
    @include btn($pink);
    @include small($pink);
}
.yellow-btn {
    @include btn($yellow);
    @include large($yellow);
}
.yellow-btn-sm {
    @include btn($yellow);
    @include small($yellow);
}
.green-btn {
    @include btn($green);
    @include large($green);
}
.green-btn-sm {
    @include btn($green);
    @include small($green);
}


.image {
    border: 5px solid $bg-color;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    max-width: 95%;

}

$columns: 5;
$grid-max-width: 1200px;
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";
%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
        }
    &:after {
        clear: both;
        }
    }
.wrapper {
    width: 100%;
    margin: 0 auto;
    }
.wrapper, .row{
    @extend %clearfix;
    }
.row {
    margin-bottom: 3em;
}


[class*='col-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px;
    }

@media #{$breakpoint-medium} {
    .wrapper {
        width: 95%;
        max-width: $grid-max-width;
        }

    @for $i from 1 through $columns {
        .col-#{$i} {
            width: 100% / $columns * $i;
            }
        }
    }


.card, [class*='card-']{
    background-color: white;
    padding: 10px;

    h5 {
        display: inline-block;
    }
}
.card-blue {border-left: 8px solid $blue;}
.card-pink {border-left: 8px solid $pink;}
.card-yellow {border-left: 8px solid $yellow;}
.card-green {border-left: 8px solid $green;}

nav {
    margin-bottom: 71px;
    // position: relative;
    // display: block;
    // overflow: auto;
    // width: 100%;
    .wrapper {
        position: fixed;
        width: 100%;
        top:0;
        z-index: 99;
        background-color: #aaa;
        text-align: right;
        padding: {
            right: 1em;
            left: 2em;
            top: .5em;
            bottom: .5em;
        }
    }
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    nav {
        margin-bottom: 0;

        .wrapper {
            position: relative;
            text-align: center;
            padding: .2em;
        }
    }
}
.page {
    height: 100vh;
    margin-bottom: 5vh;
}
.header-page {
    // height: 15vh;
    padding: 5vh 0;
}
.home-footer {
    display:block;
    height: 32.5vw;
}
.footer {
    height:25vw;
}
.flex-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


#visit-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;

    div {
        text-align: center;
        margin: 2em;
        }
    img {
        width: 80px;
        display: block;
        margin: 0 auto;
        }
    a {
        text-decoration: none;
        color: $font-color;
        }
    }
#visit-me-npm img {
    padding-bottom: 25px;
}

// @keyframes dash {
//     65% {
//         stroke-dashoffset: 0;
//         fill: #eee;
//     }
//     75% {
//         stroke-dashoffset: 0;
//         fill: #eee;
//     }
//     100% {
//         fill: black;
//         stroke-dashoffset: 0;
//     }
// }

#steven.frieson {
    width: 60vw;
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #steven.frieson {
        width: 90vw;
    }
}


#top-triangle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    svg {
        width: 60vw;
        fill: rgb(66, 110, 241);
    }
}
#contact-triangle {
    position: absolute;
    width: 60vw;
    max-width: 580px;
    min-width: 300px;
    bottom: 0px;
    // left: 0;


}
#logo {
    width: 20vw;
    // float:right;
    position: absolute;
    bottom:0;
    right:0;
    margin: {
        right: 5vw;
        bottom: 5vw
    }
}
#white-logo {
    height: 10vh;
    position: absolute;
    top: 30px;
    left: 30px;
    fill: #fff;
    z-index: 2;

    img {
        height:10vh;
        position: relative;
        bottom:0;
    }
}

#scroll-arrow {
    img {

        height: 100px;
    }
}

.placeholder {
    opacity: 0;
}

$font-color: rgb(31, 32, 37);
$font-size: 125%;
$Baskerville: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$SourceSans: Source Sans Pro, "Source Sans Pro", Futura, "Helvetica Neue", Helvetica, sans-serif;


body {
    color: $font-color;
    font-family: $SourceSans;
    font-size: $font-size;
}
h1, h2 {
    font-family: $Baskerville;
    font-weight: 400;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.125em;
}
h3 {
    font-size: 1.8em;
    font-weight: 600;
}
h4 {
    font-size: 1.5em;
    font-weight: 600;
}
h5 {
    font-size: 1.25em;
    font-weight: 600;
}
h6 {
    font-size: .75em;
    font-weight: 600;
}

#title {
    font-size: 10vw;
    position: relative;
}
nav #title {
    font-size: 2em;
    float: left;
    color: white;
    a {
        text-decoration: none;
        color:inherit;
    }
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    nav #title {
        float: none;
        color: black;
    }
}

.quote {
    text-align: center;
    width: 75vw;
    color: $pink;
    position: relative;
    top: -8vh;
    line-height: 150%;
    letter-spacing: .05em;
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .quote {
        font-size: 10vw;
    }

}

ul.skills {
    list-style: none;
    margin: 0;
    li {
        margin: 0;
        display: inline-block;
        padding: {
            left: .25em;
        }
        &:after {
            padding-left: .4em;
            content: "|"
        }
        &:last-child:after {
            content: ""
        }
    }
}
