// @keyframes dash {
//     65% {
//         stroke-dashoffset: 0;
//         fill: #eee;
//     }
//     75% {
//         stroke-dashoffset: 0;
//         fill: #eee;
//     }
//     100% {
//         fill: black;
//         stroke-dashoffset: 0;
//     }
// }

#steven.frieson {
    width: 60vw;
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #steven.frieson {
        width: 90vw;
    }
}


#top-triangle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    svg {
        width: 60vw;
        fill: rgb(66, 110, 241);
    }
}
#contact-triangle {
    position: absolute;
    width: 60vw;
    max-width: 580px;
    min-width: 300px;
    bottom: 0px;
    // left: 0;


}
#logo {
    width: 20vw;
    // float:right;
    position: absolute;
    bottom:0;
    right:0;
    margin: {
        right: 5vw;
        bottom: 5vw
    }
}
#white-logo {
    height: 10vh;
    position: absolute;
    top: 30px;
    left: 30px;
    fill: #fff;
    z-index: 2;

    img {
        height:10vh;
        position: relative;
        bottom:0;
    }
}

#scroll-arrow {
    img {

        height: 100px;
    }
}

.placeholder {
    opacity: 0;
}
