@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
$font-color: rgb(31, 32, 37);
$font-size: 125%;
$Baskerville: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$SourceSans: Source Sans Pro, "Source Sans Pro", Futura, "Helvetica Neue", Helvetica, sans-serif;


body {
    color: $font-color;
    font-family: $SourceSans;
    font-size: $font-size;
}
h1, h2 {
    font-family: $Baskerville;
    font-weight: 400;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.125em;
}
h3 {
    font-size: 1.8em;
    font-weight: 600;
}
h4 {
    font-size: 1.5em;
    font-weight: 600;
}
h5 {
    font-size: 1.25em;
    font-weight: 600;
}
h6 {
    font-size: .75em;
    font-weight: 600;
}

#title {
    font-size: 10vw;

    position: relative;
}
nav #title {
    font-size: 2em;
    float: left;
    color: white;
    a {
        text-decoration: none;
        color:inherit;
    }
}

.quote {
    text-align: center;
    width: 75vw;
    color: $pink;
    position: relative;
    top: -8vh;
    line-height: 150%;
    letter-spacing: .05em;
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .quote {
        font-size: 10vw;
    }

}

ul.skills {
    list-style: none;
    margin: 0;
    li {
        margin: 0;
        display: inline-block;
        padding: {
            left: .25em;
        }
        &:after {
            padding-left: .4em;
            content: "|"
        }
        &:last-child:after {
            content: ""
        }
    }
}
