@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #EEEEEE;
  position: relative;
}

font-pink {
  color: #FF2A64;
}

bg-pink {
  background-color: #FF2A64;
}

font-blue {
  color: #2BC1E6;
}

bg-blue {
  background-color: #2BC1E6;
}

font-green {
  color: #03F443;
}

bg-green {
  background-color: #03F443;
}

font-yellow {
  color: #F5D800;
}

bg-yellow {
  background-color: #F5D800;
}

.wrapper, .row {
  *zoom: 1;
}

.wrapper:before, .row:before, .wrapper:after, .row:after {
  content: " ";
  display: table;
}

.wrapper:after, .row:after {
  clear: both;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.row {
  margin-bottom: 3em;
}

[class*='col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 1200px;
  }
  .col-1 {
    width: 20%;
  }
  .col-2 {
    width: 40%;
  }
  .col-3 {
    width: 60%;
  }
  .col-4 {
    width: 80%;
  }
  .col-5 {
    width: 100%;
  }
}

.card {
  background-color: white;
  padding: 10px;
  border-left: 8px solid #2BC1E6;
}

.page {
  height: 100vh;
  margin-bottom: 5vh;
}

.flex-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#visit-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}

#visit-logos div {
  text-align: center;
  margin: 2em;
}

#visit-logos img {
  width: 80px;
  display: block;
  margin: 0 auto;
}

@keyframes dash {
  65% {
    stroke-dashoffset: 0;
    fill: #eee;
  }
  75% {
    stroke-dashoffset: 0;
    fill: #eee;
  }
  100% {
    fill: black;
    stroke-dashoffset: 0;
  }
}

#steven.frieson {
  fill: #000;
  width: 60vw;
}

#steven.frieson path {
  stroke-width: .2px;
  stroke: black;
  fill: #eee;
  animation: dash 3s ease-in-out forwards;
}

#top-triangle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#top-triangle svg {
  width: 60vw;
  fill: #426ef1;
}

#contact-triangle {
  position: absolute;
  width: 60vw;
  bottom: -1;
  left: -1;
}

#logo {
  width: 20vw;
  float: right;
  margin: 5vw;
}

#white-logo {
  height: 10vh;
  position: absolute;
  top: 30px;
  left: 30px;
  fill: #fff;
  z-index: 2;
}

#white-logo img {
  height: 10vh;
  position: relative;
  bottom: 0;
}

#scroll-arrow img {
  height: 100px;
}

.placeholder {
  opacity: 0;
}

body {
  color: #1f2025;
  font-family: Source Sans Pro, "Source Sans Pro", Futura, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 125%;
}

#title {
  font-size: 10vw;
  position: relative;
}

h1, h2 {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: 400;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.125em;
}

h3 {
  font-size: 1.8em;
  font-weight: 600;
}

h4 {
  font-size: 1.5em;
  font-weight: 600;
}

h5 {
  font-size: 1.25em;
  font-weight: 600;
}

h6 {
  font-size: .75em;
  font-weight: 600;
}

.quote {
  text-align: center;
  width: 75vw;
  color: #FF2A64;
  position: relative;
  top: -8vh;
  line-height: 150%;
  letter-spacing: .05em;
}
